.form
    display: grid
    gap: 28px
.button
    background-color: $buttonBlack
    border: 1px solid $buttonBlack
    font-size: 1rem
    color: $primaryWhite
    border-radius: 12px
    font-size: 1.3rem
    padding: 11px 24px
    text-transform: capitalize
    &:hover
        cursor: pointer
        opacity: .8
