$primaryColor: #6B4DFF
$primaryHoverColor: #8d77ff
$primaryActiveColor: #5943cb
$primaryText: #15121F
$primaryWhite: #FBFAFF
$shadowColor: rgba(107, 77, 255, 0.04)
$shadowColorDarker: rgba(107, 77, 255, 0.12)
$shadow: 0px 4px 16px $shadowColor
$shadowDarker: 0px 4px 16px $shadowColorDarker
//Secondary
$secondaryDarkGray: #686670
// $secondaryGray: #A4A1B2
$secondaryGray: #9F9DA5
$secondaryLightPurple: #E2E0FF
$secondaryBackground: #F6F5FF
$textSecondary: #61666B
$secondarySurfaceBackground: #F8F6FF

$inputBgc: #f5f2ff
$buttonBlack: #181818
