.main
    display: flex
    justify-content: center
    align-items: center

    min-height: inherit

.form__wrapper
    display: grid
    gap: 16px
    padding: 16px

    border-radius: 10px
    padding: 24px
    background-color: $primaryWhite
    box-shadow: 0px 4px 16px $shadowColor
    border-radius: 24px
    grid-template-columns: minmax(320px, 460px)

.title
    font-size: 1.6rem
    color: $primaryText
    border-bottom: 1px solid $secondaryLightPurple
    color: $secondaryDarkGray
    padding-bottom: 12px
    width: 100%
    text-align: center
