@use'../node_modules/reset-css/sass/_reset.scss' as *

*
  box-sizing: border-box

html
  font-size: 16px

body
  background-color: $primaryWhite

#root
  min-height: 100vh
  width: 100vw
  background-color: $secondaryBackground
